@page
@model projet.Pages.CartModel

@{
    ViewData["Title"] = "Cart Page";
}

<h1>Your Cart</h1>

@if (Model.CartItems != null && Model.CartItems.Count > 0)
{      /*Pour chaque CartItme ajoutée par le client on affiche ses proprietes ainsi 
       qu'on donne possibilité de modifier la quantite*/
    <ul class="cart-list">
        @foreach (var item in Model.CartItems)
        {
            <li class="cart-item">
                <img src="@item.Product.ImageUrl" alt="@item.Product.Name" class="product-image" />
                <div class="item-details">
                    <h2>@item.Product.Name</h2>
                    <p>Quantity: @item.Quantity</p>
                    <form method="post" asp-page-handler="UpdateQuantity">
                        <input type="hidden" name="productId" value="@item.Product.Id" />
                        <button type="submit" name="change" value="1" class="btn-update">+</button>
                        <button type="submit" name="change" value="-1" class="btn-update">-</button>
                    </form>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>@Model.Message</p>
}

<style>
    /*Style css de notre cartItems*/
    .cart-list {
        list-style-type: none;
        padding: 0;
    }

    .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
    }

    .product-image {
        width: 100px; 
        height: 100px; 
        object-fit: cover; 
        margin-right: 15px;
    }

    .item-details {
        flex-grow: 1;
    }

    .btn-update {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-update:hover {
            background-color: #0056b3;
        }
</style>
